body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #F3F3F3;
    line-height: 20px;
}
.tela-entrada{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela-entrada img{
    margin-top: 72px;
    margin-bottom: 94px;
}
.tela-entrada input{
    height: 54px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    font-size: 18px;
    margin-bottom: 15px;
}
.tela-entrada input::placeholder{
    text-align: center;
}
.tela-entrada button{
    height: 45px;
    width: 109px;
    background-color: #E7E7E7;
    color: #696969;
    border-radius: 9px;
    border: none;
    font-size: 18px;
}
.topo {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 22px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    font-size: 45px;
}
.campo-textos{
    padding: 106px 0;
    height: 100%;
    width: 100%;
}
.bate-papo li{
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 10px;
}

.horario{
    color:#AAAAAA;
}
.sistema{
    background-color: #DCDCDC;

}
.todos{
    background-color: #fff;
}
.reservado{
    background-color:  #FFDEDE;
}
.mensagem{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 18px;
}
.bate-papo input{
    height: 30px;
    border: 0;
    font-size: 18px;
    line-height: 21px;
    color: black;
}
.bate-papo input::placeholder{
    font-style: italic;
    color: black;
}

.membros-online{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
}

.fundo{

    height: 100%;
    width: calc(100% - 259px);
}
.selecao-membros{
    background-color: #fff;
    width: 259px;
    height: 100%;
    font-size: 16px;
    
}
.selecao-membros span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 84px;
    font-weight: 700;
    line-height: 19px;
    
}
.selecao-membros li{
    margin-left: 20px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    position: relative;
}
.esquerda{
    display: flex;
    align-items: center;
}
.selecao-membros ion-icon{
    margin-right: 7px;
    font-size: 20px;
}

.selecao-membros .selecionado{
    color: #28BB25;
}
.escondido{
    display: none;
}