body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #F3F3F3;
    line-height: 20px;
}
.tela-entrada{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 1;
}
.topo {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 22px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    font-size: 45px;
}
.campo-textos{
    padding: 106px 0;
    height: 100%;
    width: 100%;
}
li{
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 10px;
}

.horario{
    color:#AAAAAA;
}
.sistema{
    background-color: #DCDCDC;

}
.todos{
    background-color: #fff;
}
.reservado{
    background-color:  #FFDEDE;
}
.mensagem{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 18px;
}
input{
    height: 30px;
    border: 0;
    font-size: 18px;
    line-height: 21px;
    color: black;
}
input::placeholder{
    font-style: italic;
    color: black;
}
.escondido{
    display: none;
}